.topMenu div{
    display: flex;
    -webkit-box-align: center;
}

.topMenu div .active{
    font-weight: 700;
    color: #222222;
}

.mainBody{
    text-align: center;
    width: 100%;
}

.mainBody div{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
