* {
    margin: 0px;
    padding: 0px;
    font-family: acumin-pro, pretendard, "Helvetica Neue LT", "Helvetica Neue", Helvetica, Arial, -apple-system, system-ui, "Noto Sans KR", sans-serif;
    font-style: normal;
    position: relative;
    box-sizing: border-box;
    word-break: keep-all;
    white-space: pre-wrap;
    -webkit-font-smoothing: antialiased;
}

html, body{
    overflow-x: hidden;
}

.topMenu{
    display: flex;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0px);
    font-weight: 700;
    color: rgb(189, 189, 189);
    -webkit-box-align: center;
}

.topMenu .active{
    color: rgb(34, 34, 34);
}

.mainBody{
    text-align: center;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.selfBtn{
    width: 100%;
    font-weight: 700;
    font-size: 1.2rem;
    display: block;
    background: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
    padding: 20px;
}

.underline{
    text-decoration: underline;
}

.helpMsg{
    text-align: center;
    color: rgb(96, 96, 96);
    margin-top: 2.5rem;
    font-weight: 500;
    width: 100%;
}

a:link{ 
    color: black; 
    text-decoration: none;
} 

a:visited{ 
    color: black; 
    text-decoration: none;
} 

a:hover{ 
    color: black; 
    text-decoration: underline;
}

h3{
    font-size: 1.6rem;
}
